 <div class="row" th:fragment="footer">
 		<footer class="footer">
        <div class="container bottom_border">
        <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">PDH</h5>
        <!--headin5_amrc-->
        <p class="mb10"><p class="text-justify"><i>TẬP ĐOÀN PDP VIỆT NAM </i> </p></p>
        <p><i class="fa fa-location-arrow"></i> 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Thành phố Hồ Chí Minh</p>
        <p><i class="fa fa-phone"></i>  +84999999999  </p>
        <p><i class="fa fa fa-envelope"></i> pdp.9999.vn@gmail.com  </p>
        <p class="text-justify"><i>8:30 - 19:00 tất cả các ngày trong tuần </i> </p>
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">GIỚI THIỆU VỀ PDP</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
        <li><a href=" ">Giới thiệu</a></li>
        <li><a href=" ">Blog</a></li>
        <li><a href=" ">Hệ thống cửa hàng</a></li>
        <li><a href=" ">Liên hệ với PDP</a></li>
        <li><a href=" ">Chính sách bảo mật</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">HỔ TRỢ KHÁCH HÀNG</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
            <li><a href=" ">Hỏi đáp</a></li>
                        <li><a href=" ">Chính sách vận chuyển</a></li>
                        <li><a href=" ">Hướng dẫn chọn kích cỡ</a></li>
                        <li><a href=" ">Hướng dẫn thanh toán</a></li>
                        <li><a href=" ">Quy định đổi hàng</a></li>
                        <li><a href=" ">Hướng dẫn mua hàng</a></li>
        
        <!--footer_ul_amrc ends here-->
        </div>
        
        
        <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">KẾT NỐI</h5>
        <!--headin5_amrc ends here-->
        
        <ul class="footer_ul2_amrc">
        <li><a href=" "><i class="fab fa-facebook-f"></i></a></li>
        <li><a href=" "><i class="fab fa-twitter"></i></a></li>
        <li><a href=" "><i class="fab fa-linkedin"></i></a></li>
        <li><a href=" "><i class="fab fa-instagram"></i></a></li>
        </ul>   
        <!--footer_ul2_amrc ends here-->
        </div>
        </div>
        </div>
        
        
        <div class="container">
        
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2022 | Designed With by <a href=" ">PDP</a></p>
        
        
        </ul>
        <!--social_footer_ul ends here-->
        </div>
        
        </footer>
 </div>